/* impostazioni di reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* impostazioni di reset */
/* float-left, clearfix */
.float-left {
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* /float-left, clearfix */

/* larghezze personalizzate */
.larghezza-25{
    width: 25%;
}
.larghezza-50 {
    width: 50%;
}
.larghezza-70{
    width: 70%;
}
/* /larghezze personalizzate */

/* selettori generici */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    line-height: 100px;
    height: 550px;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position:  108% 110%;
    background-size: 55% auto;
    background-color: #0c325a;
}

footer {
    padding-bottom: 10px;
    line-height: 150px;
    background-color: #d3d3d3;   
}

h3 {
    padding-top: 50px;
    font-size: 30px;
    color:#7cbb02
}

p {
    font-size: 20px;
    color: #808080;
}

/* container centrato */
.container {
    width: 80%;
    margin: auto;
}
/* /container centrato */

/* header logo, link*/
.logo {
    vertical-align: middle;
    width: 15%;
}
.nav-sinistra {
    vertical-align: middle;
    position: relative;
    width: 45%;
    z-index: 200; 
}
.header-destra {
    text-align:right;
    vertical-align: middle;
    width: 40%;
}

/* header nav, link, liste */
header nav > ul,
header ul a {
    text-decoration: none;
    list-style: none;
    color: white;   
}
header ul > li {
    padding-right: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
}

/* header jumbotron */
.jumbotron {
  position: relative; 
  height: 470px; 
}
.titolo_jumbotron {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(35%);
}
.jumbotron > .titolo_jumbotron > h1 {
    line-height: normal;
    font-size: 50px;
    margin-bottom: 15px;
    color: white;
}
.titolo_jumbotron > a {
    text-decoration: none;
}
.jumbotron .bottone.sfondo {
    padding: 25px 15px;
}

/* bottoni generici */
.bottone {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid white;
}
.bottone.sfondo {
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
    color: white;
}

/* section 1 */
.sezione_sfondo_grigio { 
    padding-top: 30px;
    line-height: 40px;
    text-align: center;
    height: 150px;
    background-color: #d3d3d3;
}
.sezione_sfondo_grigio h2 {
    font-size: 25px;
    display: inline-block;
}
/* /section 1 */


/* section 2 */

/* colonne section 2 */
.colonna {
    text-align: center;
    width: calc(33% - 100px);
    margin: 0px 45px 0px 45px;  
}

/* immagini section 2 */
.immagini {
    height: 250px;
    padding-top: 10%;
}

/* paragrafi colonne section 2 */
.colonna p {
    padding: 28px 0 70px 0;
    font-size: 22px;
    text-align:center;
    line-height: 25px;
}


/* hr separatrici section 2 */
.colonna hr {
    margin: auto;
    width:20%;
    margin-top: 20px;
    border-color: #808080 ; 
}

/* hr separatrice di section 2 e 3 */
.hr-section {
    margin: auto;
    width: 95%;
    margin-bottom: 70px;
    border-color: #d3d3d3;
}

/* /section 2 */

/* /hr separatrice di section 2 e 3 */

/* section 3 */

/* immagine sinistra section 3  */
.immagine-montagna {
    padding: 20px 0px 40px 100px;
    height: 550px;
}

/* testo destra section 3 */
.section_3-testo-destra {
    width: 57%;
}
.section_3-testo-destra > h2 {
    line-height: 45px;
    font-size:35px;
}
.section_3-testo-destra > p {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom:25px; 
}
.section_3-testo-destra > a {
    font-size: 18px;
   padding-top: 180px; 
}

/* /section 3 */


/* footer */

/* titolo footer sinistra */
footer h2 {
    font-size: 30px;
}

/* testo footer */
.div-centrale-footer {
    text-align: center;  
}

/* testo centrale footer */
.testo-footer {
    padding-right: 30px;
    font-size: 18px;
    color: #808080;
}
.testo-footer_2 {
    font-size: 20px;
    color: #808080;
    border-bottom: 1px solid #808080;
}
.code_triangolo {
    font-size: 25px;
    padding-left:100px;
}
/* /testo centrale footer */

/* bottone destra footer */
footer .bottone.sfondo {
    padding: 25px 15px;
    text-decoration: none;
}

/* /footer */

/* bottone fixed */
.bottone.sfondo.fixed {
    text-decoration: none;
    line-height: normal;
    position: fixed;
    bottom:0%;
    left: 74%;
    margin-bottom: 2px;
    padding: 10px 15px;
    
}



